<div class="container">
  <div class="row">
     <div class="col-10">
      <div class="jumbotron">
       <h2>Login Page</h2>
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" >
          <div class="form-group">
            <label for="email">email</label> 
            <input type="email"  class="form-control" id="email" formControlName="email"  required />
            <div  class="invalid-feedback">     
              <div *ngIf="loginFormController['email'].errors">Email is required</div>
           </div>
         </div>
        <div class="form-group">
         <label for="password">Password</label>
         <!-- [ngClass]="{'is-invalid':loginForm.get('password').touched && loginForm.get('password').invalid}" -->
         <input type="password" class="form-control" formControlName="password"    />
            <div  class="invalid-feedback">
        <div *ngIf="loginFormController['password'].errors && (!loginFormController['password'].errors?.['minlength'] && !loginFormController['password'].errors?.['maxlength'] ) ">Password is required</div>
        <div *ngIf="loginFormController['password'].errors?.['minlength']">Password must be atleast 8 characters</div>
        <div *ngIf="loginFormController['password'].errors?.['maxlength']">Password must be atleast 20 characters</div>
            </div>
         </div>   
        <div class="from-group">   
            <button class="btn btn-primary"  >Register</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>